.carta{
  display: flex;
  justify-content: center;
  flex-direction:row ;
  padding: 0px;
  text-align: center;
  flex-wrap: wrap;
}



.titulo-noticias{
	margin-top: 50px;
}


.noticia{
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 1px solid black;
  border-top: 14px outset #009672;
  border-radius: 16px;
}

.titulo_noticia{
	margin: 10px;
}

.ver_mas{
  color: #7479d8;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 0px;
}

.promo1{
  width: 40%;
    clear: both;
    height: 300px;
    background: #009672;
    border-radius: 2px;
    margin: 6vh 0;

    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;

  
}

.promo2{
  width: 40%;
    clear: both;
    height: 300px;
    background: #7479d8;
    border-radius: 2px;
    margin: 6vh 0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;

  

}


.promo3{
  width: 40%;
    clear: both;
    height: 300px;
    background: #009672;
    border-radius: 2px;
    margin: 6vh 0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}


.code--left{
  float: left;
}

.code--right{
  float: right;
}


.code {
    width: 40%;
    clear: both;
    height: 200px;
    background: #FFF;
    border-radius: 2px;
    margin: 12vh 0;
    padding: 10px;
}

.section{
display: block;
}



.titulo-promo{
  margin: 10px;
}

.texto-promo{
  margin: 10px;
}

