

.code--footer {
    width: 40%;
    clear: both;
    height: 200px;
    background: #FFF;
    border-radius: 2px;
    margin: 12vh 0;
    padding: 10px;
}

.footer_logos{
  display: flex;
  flex-direction: row;
  justify-content: center;


}