<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto</title>
	<link rel="shortcut icon" href="../assets/img/logo.png">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>

		 <!-- Inicio encabezado -->
	<header class="header">
		<!-- LOGO -->
		<div class="header_logo">
			<a href="../index.html"><img class="logoSinFondo" src="../assets/img/logoSinFondo.png" alt="logo"></a>
			<a href="login.html"> <button class="login_button" role="button">LOGIN</button> </a>

		</div>
		<!-- Cierre logo -->

		<!-- Inicio nav -->
		<nav>
			<ul class="header__nav nav--background">
				
				<li class="nav__item nav__item--background"><a href="../index.html">INICIO</a></li>
				<li class="nav__item nav__item--background"><a href="quehacemos.html">QUE HACEMOS</a></li>
				<li class="nav__item nav__item--background"><a href="fondodepensiones.html">FONDO DE PENSIONES</a></li>
				<li class="nav__item nav__item--background"><a href="contacto.html">CONTACTO</a></li>

			</ul>
		</nav>
		<!-- Cierre nav -->
		
	</header>
	<!-- Cierre encabezado-->

	<!-- Inicio contenido -->
	<main class="main_contacto">
		

		
		<!-- Formulario de contacto -->
		<form action="#" class="formulario_contacto">

			<h1>CONTACTO</h1>
			<label for="nombre">Nombres:
				<input type="text" name="nombre">
			</label><br><br>

			<label for="apellido">Apellidos:
				<input type="text" name="apellido">
			</label><br><br>

			<label for="direccion">Direccion:
				<input type="text" name="direccion">
			</label><br><br>

			<label for="edad">Edad:
				<input type="number" name="edad">
			</label><br><br>

			<label for="mail">Mail de contacto:
				<input type="text" name="mail">
			</label><br><br>

			<div>¿Es actualmente cliente de la vitalicia?</div>
			Si
			<input type="radio" name="cliente" value="escliente">
			NO
			<input type="radio" name="cliente" value="noescliente"><br>

			<div>
				Indique su solicitud:
			</div>
			<div>
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</div>

			<div>Acepto terminos y condiciones
				<input type="checkbox" name="aceptar" value="1">
			</div><br>

			<input type="submit" value="ENVIAR">
			<input type="submit" value="RESET">

		</form><br><br>

		<div class="mapa_contacto">
			<h2 class="encuentra_sucursal">Encuentra tu sucursal mas cercana</h2>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.4399042464015!2d-70.65266828391798!3d-33.437843880777656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5a390957307%3A0xef87ffe6bed7c7!2sPlaza%20de%20Armas!5e0!3m2!1ses-419!2scl!4v1642985222297!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

		</div>



	</main>

	<footer class="footer">
		<!-- LOGO -->
		<img src="" alt="">
		<!-- REDES SOCIALES -->

		<div>
			<h3 class="footer_encabezado">REDES SOCIALES</h3>
			<div class="footer_logos">	
				<img class="footer_logoFacebook" src="../assets/img/facebook.png" width="50" height="50" alt="logofacebook">

				<img class="footer_logoInstagram" src="../assets/img/instagram.png" width="50" height="50" alt="logoinstagram">
			</div>
		</div>
	</footer>

	
	
</body>
</html>